.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
  
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.App {
  border-radius: 1em;
  /* background-color: hsl(217, 19%, 24%); */
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.advice-container{
  margin: 1em;
  width: 90%;
  height: 90%;

  background-color: hsl(217, 19%, 24%);
  padding: 2em;
  border-radius: 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.advice-container h2{
  padding-top: 5px;
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  font-size: 1.5em;
}

.advice-container p{
  font-weight: 700;
  font-size: 1.7em;
  text-align: center;
  padding-top: 1em;
  max-height: 50%;
}

.randomAdvice {
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    height: 5em;
}

.randomAdvice img{
  height: 50%;
  width: 50%;
}

.play{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 0.5em;
}

.play hr{
  width: 35%;
  opacity: 0.3;
}

.button-pause {
  margin: 1em;
  background-color: transparent;
  box-sizing: border-box;
  height: 1em;
  
  border-color: transparent transparent transparent #ffffff;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;

  border-style: double;
  border-width: 0px 0 0px 1.3em;
}

@media only screen and (max-height: 800px){
  body{
    font-size: 9px;
  }

  .App{
    height: 50vh;
    width: 50vw;
  }
}


@media only screen and (max-width: 900px){
  .App{
    height: 30vh;
    width: 50vw;
  }
}


@media only screen and (max-width: 400px){
  body{
    font-size: 9px;
  }

  .App{
    height: 30vh;
    width: 85vw;
  }
}



@media only screen and (max-height: 600px){
  .App{
    height: 60vh;
  }
}

@media only screen and (max-width: 500px){
  .App{
    width: 85vw;
    height: 45vh;
  }
}

@media only screen and (max-width: 300px) {
  body{
    font-size: 7px;
  }
}

@media only screen and (max-height: 300px) {
  body{
    font-size: 4px;
  }
}

@media only screen and (max-width:200px){
  body{
    font-size: 5px;
  }
  .App{
    height: 50vh;
  }
 }