.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 28%, 73%); }


*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
  
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.App {
  /* overflow: hidden; */
  /* background-color: hsl(217, 19%, 24%); */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.advice-container{
  padding: 2em;
  margin: 1em;

  width: 35vw;
  height: 55vh;
  min-height: 150px;

  padding: 2em;

  
}

.advice-content {
  width: 100%;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1em;

  background-color: hsl(217, 19%, 24%);
}

.advice-container h1{
  /* padding-top: 5%; */
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  font-size: 1.5em;
}

.advice-container blockquote{
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

.advice-quote{
  /* padding-top: 1em; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding-bottom: 5em; */
  width: 85%;
  height: 40%;
}

.randomAdvice {
    border: none;

    width: 60px;
    min-width: 10px;
    height: 60px;
    min-height: 10px;

    margin: auto;
    margin-top: -1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;

    padding: 0.2em;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    
}

.randomAdvice:hover{
  cursor: pointer;
  background-color: hsl(150, 78%, 46%);
}





.randomAdvice img{
  height: 50%;
  width: 50%;
}

.play{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 0.5em;
}

.play hr{
  width: 35%;
  height: 1px;
  background-color: whitesmoke;
  opacity: 0.3;
}

.button-pause {
  margin: 1em;
  border: 7px solid;
  background-color: transparent;
  box-sizing: border-box;
  height: 2em;
  
  border-color: transparent transparent transparent #ffffff;

  border-style: double;
  border-width: 0px 0 0px 1.3em;
}

@media only screen and (max-height: 800px){
  body{
    font-size: 9px;
  }

}


@media only screen and (max-width: 900px){
  .advice-container{
    height: 55vh;
    width: 70vw;
  }

  .advice-quote blockquote{
    font-size:1em;
  }
}


@media only screen and (max-width: 400px){
  body{
    font-size: 9px;
  }

  .advice-container{
    height: 30vh;
    width: 85vw;
  }
}



@media only screen and (max-width: 400px) {
  body{
    font-size: 7px;
  }

  .advice-container{
    height: 300px;
  }

  .advice-quote{
    
    height: 45%;
    max-height: 50%;
  }

  .advice-container blockquote{
    font-size: 2em;
  }

  .button-pause{
    height: 2em;
    margin: 2em;  
  }

}

@media only screen and (max-height: 350px) {
  body{
    font-size: 7px;
  }

  .advice-container{
    margin-top: 100px;
    height: 300px;
  }

  .advice-container blockquote{
    font-size: 2em;
    max-height: 50%;
  }

  .button-pause{
    height: 2em;
    margin: 2em;  
  }

}

@media only screen and (max-width:200px){

  .advice-quote blockquote{
    font-size: 1em;
  }

}

@media only screen and (max-height:200px){
  
  .advice-quote blockquote{
    font-size: 1.4em;
  }

  .App{
    margin-top: 250px;
  }

}


