.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 28%, 73%); }


*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
  
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.App {
  /* overflow: hidden; */
  /* background-color: hsl(217, 19%, 24%); */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.advice-container{
  padding: 2em;
  margin: 1em;

  width: 35vw;
  height: 55vh;
  min-height: 150px;

  padding: 2em;

  
}

.advice-content {
  width: 100%;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1em;

  background-color: hsl(217, 19%, 24%);
}

.advice-container h2{
  /* padding-top: 5%; */
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  font-size: 1.5em;
}

.advice-container blockquote{
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  padding-top: 1em;
  width: 70%;
  height: 25%;
}

.randomAdvice {
    border: none;

    width: 60px;
    min-width: 10px;
    height: 60px;
    min-height: 10px;

    margin: auto;
    margin-top: -1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;

    padding: 0.2em;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    
}

.randomAdvice:hover{
  cursor: pointer;
  background-color: hsl(150, 78%, 46%);
}





.randomAdvice img{
  height: 50%;
  width: 50%;
}

.play{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 0.5em;
}

.play hr{
  width: 35%;
  height: 1px;
  background-color: whitesmoke;
  opacity: 0.3;
}

.button-pause {
  margin: 1em;
  background-color: transparent;
  box-sizing: border-box;
  height: 1em;
  
  border-color: transparent transparent transparent #ffffff;

  border-style: double;
  border-width: 0px 0 0px 1.3em;
}

@media only screen and (max-height: 800px){
  body{
    font-size: 9px;
  }

  .App{
    height: 50vh;
    width: 50vw;
  }
}


@media only screen and (max-width: 900px){
  .advice-container{
    height: 55vh;
    width: 70vw;
  }
}


@media only screen and (max-width: 400px){
  body{
    font-size: 9px;
  }

  .advice-container{
    height: 30vh;
    width: 85vw;
  }
}



@media only screen and (max-height: 600px){
  .App{
    height: 60vh;
  }
}

@media only screen and (max-width: 500px){
  .App{
    width: 85vw;
    height: 35vh;
  }
}

@media only screen and (max-width: 400px) {
  body{
    font-size: 7px;
  }

  .advice-container blockquote{
    font-size: 1.4em;
  }

  .App{
    width: 85vw;
    height: 35vh;
  }
}

@media only screen and (max-height: 350px) {
  body{
    font-size: 10px;
  }

  .App{
    height: 90vh;
  }

  .randomAdvice{
    height: 3em;
    width: 3em;
  }
}

@media only screen and (max-width:250px){
  body{
    font-size: 3px;
  }
  .App{
    height: 75vh;
    }

  .button-pause{
    border-width: 0px 0 0px 0.5em;
    height: 0.5em;
  }

  .randomAdvice{
    height: 2em;
    width: 2em;
  }

  .advice-container blockquote{
    font-size: 2.2em;
  }
  
  
 }