.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
  
  font-family: "Manrope", Arial, sans-serif;
  font-size: 12px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.App {
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.advice-container{
  overflow: hidden;
  margin: 1em;
  width: 30vw;
  height: 30vh;

  background-color: hsl(217, 19%, 24%);
  padding: 2em;
  border-radius: 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.advice-container h2{
  padding-top: 5px;
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  font-size: 1.5em;
}

.advice-container p{
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  padding-top: 1em;
}

.play{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 0.5em;
}

.play hr{
  width: 35%;
  opacity: 0.3;
}

.button-pause {
  margin: 1em;
  background-color: transparent;
  box-sizing: border-box;
  height: 2em;
  
  border-color: transparent transparent transparent #ffffff;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;

  border-style: solid;
  border-width: 1em 0 1em 1.7em;
}

@media only screen and (max-height: 800px){
  body{
    font-size: 9px;
  }

  .advice-container{
    height: 50vh;
    width: 50vw;
  }
}


@media only screen and (max-width: 900px){
  .advice-container{
    height: 30vh;
    width: 50vw;
  }
}


@media only screen and (max-width: 400px){
  body{
    font-size: 9px;
  }

  .advice-container{
    height: 30vh;
    width: 85vw;
  }
}

@media only screen and (max-width: 500px){
  .advice-container {
    width: 70vw;
  }
}

@media only screen and (max-height: 600px){
  .advice-container{
    height: 60vh;
  }
}

@media only screen and (max-height: 300px) {
  body{
    font-size: 8px;
  }
}

@media only screen and (max-width:200px){
  body{
    font-size: 9px;
  }
  .advice-container{
    height: 50vh;
  }
 }